---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
const title = "About me | 39rep";
---

<Layout title={title}>
  <main class="max-x-3xl">
    <ul>
      <li class="mb-16">
        <h1 class="text-2xl font-bold mb-6">About me</h1>
        <p class="mb-3">にじさんじが好きな情報系の学生です。</p>
        <p>
          最推しは葛葉さんで、その関連からストリーマー界隈の配信もよく見ています。
        </p>
        <p>FPSゲームが好きで、最近はAPEXをしてます。</p>
      </li>
      <li class="mb-16">
        <h1 class="text-2xl font-bold mb-6">Skills</h1>
        <p class="mb-3">主にPythonやJavaScript関連の技術を学んでいます。</p>
        <p>大学では機械学習, 深層学習の分野の研究をする予定です。</p>
        <p>
          また趣味で
          <Link href="https://react.dev/" content="React" newTab={true} />
          などWeb系の技術に触れています。
        </p>
        <p>
          このサイトは
          <Link href="https://astro.build/" content="Astro" newTab={true} />
          と
          <Link
            href="https://tailwindcss.com/"
            content="Tailwind css"
            newTab={true}
          />
          を用いて作成しました。
        </p>
      </li>
      <li>
        <h1 class="text-2xl font-bold mb-6">Links</h1>
        <ul>
          <li>
            <Link
              href="https://twitter.com/39rep"
              content="X(旧Twitter)"
              newTab={true}
            />
          </li>
          <li>
            <Link
              href="https://github.com/39rep"
              content="Github"
              newTab={true}
            />
          </li>
          <li>Discord: 39rep</li>
        </ul>
        <p class="mt-3">IDは全部39repです。</p>
      </li>
    </ul>
  </main>
</Layout>
