---
import CardLong from "@components/CardLong.astro";
import CardSmall from "@components/CardSmall.astro";
import SocialCard from "@components/SocialCard.astro";
import Layout from "@layouts/Layout.astro";

const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="39rep">
  <main class="flex flex-col items-center">
    <!-- Posts -->
    <div class="w-full">
      <div class="flex items-end">
        <h1 class="text-2xl font-bold">Latest Posts</h1>
        <a href="/posts/" class="ml-2 hover:text-blue-700 hover:scale-105"
          >→All Posts</a
        >
      </div>
      <ul class="grid grid-cols-2 justify-center justify-items-stretch gap-4">
        {
          allPosts
            .slice(-2)
            .reverse()
            .map((post) => (
              <CardSmall
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                img_src={post.frontmatter.image.url}
                alt={post.frontmatter.image.alt}
                emoji={post.frontmatter.emoji}
                href={post.url ? post.url : "404"}
              />
            ))
        }
      </ul>
    </div>

    <!-- Likes -->
    <div class="mt-10 w-full">
      <div class="flex items-end">
        <h1 class="text-2xl font-bold">Links</h1>
        <p class="ml-2 hover:text-blue-700 hover:scale-105">
          (X, Github, Discord)
        </p>
      </div>
      <ul
        class="grid grid-cols-2 sm:grid-cols-3 justify-center justify-items-stretch gap-6"
      >
        <SocialCard href="https://x.com/39rep" color="bg-gray-700">
          <img
            src="/assets/x.svg"
            alt="X(Twitter)"
            class="w-28 aspect-square"
          />
        </SocialCard>
        <SocialCard href="https://github.com/39rep" color="bg-gray-700">
          <img
            src="/assets/github-mark-white.svg"
            alt="Github"
            class="w-28 aspect-square"
          />
        </SocialCard>
        <SocialCard href="https://github.com/39rep" color="bg-gray-700">
          <img
            src="/assets/discord_logo.svg"
            alt="Discord"
            class="w-28 aspect-square"
          />
        </SocialCard>
      </ul>
    </div>
  </main>
</Layout>
