---
import CardLong from "@components/CardLong.astro";
import CardSmall from "@components/CardSmall.astro";
import Layout from "@layouts/Layout.astro";

const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="39rep">
  <main class="flex flex-col items-center">
    <!-- Posts -->
    <div class="w-full">
      <div class="flex items-end">
        <h1 class="text-2xl font-bold">Latest Posts</h1>
        <a href="/posts/" class="ml-2 hover:text-blue-700 hover:scale-105"
          >â†’All Posts</a
        >
      </div>
      <ul class="grid grid-cols-2 justify-center justify-items-stretch gap-4">
        {
          allPosts
            .slice(-2)
            .reverse()
            .map((post) => (
              <CardSmall
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                img_src={post.frontmatter.image.url}
                alt={post.frontmatter.image.alt}
                emoji={post.frontmatter.emoji}
                href={post.url ? post.url : "404"}
              />
            ))
        }
      </ul>
    </div>

    <!-- Likes -->
    <div class="mt-10 w-full">
      <h1 class="text-2xl font-bold">Likes</h1>
      <ul class="grid grid-cols-2 justify-center justify-items-stretch gap-4">
        <CardLong
          title="åˆéŸ³ãƒŸã‚¯"
          description="å®‡å®™ã§æ­Œã†VirtualSinger"
          img_src="/assets/space_miku.png"
          alt="HatsuneMiku"
        />
        <CardSmall
          title="ã‚¿ã‚¤ãƒˆãƒ«"
          description="èª¬æ˜Žãªã©ä½•ã‹ã‚ã‚Œã°"
          img_src=""
          alt="HatsuneMiku"
          emoji="âœ¨"
          href="#"
        />
        <CardSmall
          title="ã‚¿ã‚¤ãƒˆãƒ«2"
          description="èª¬æ˜Žãªã©ä½•ã‹ã‚ã‚Œã°2"
          img_src=""
          alt="HatsuneMiku"
          emoji="ðŸš„"
          href="#"
        />
      </ul>
    </div>
  </main>
</Layout>
